@model Restaurant.WebApplication.ViewModels.IndexViewModel
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 text-sm-center text-md-left">
                <div class="footer-logo"><img src="~/images/logo.png" alt=""></div>
                <div class="footer-contact">
                    <p>Address: @Model.DesignerModel.Address</p>
                    <p>Phone: @Model.DesignerModel.PhoneNumber</p>
                    <p>Email: @Model.DesignerModel.Email</p>
                </div>
                <div class="footer-social">
                    <a target="_blank" href="@Model.DesignerModel.FacebookLink"><i class="fab fa-facebook-f"> </i></a>
                    @*<a href="@Model.DesignerModel.InstagramLink"><i class="fab fa-twitter"></i></a>*@
                    <a target="_blank" href="@Model.DesignerModel.InstagramLink"><i class="fab fa-instagram"> </i></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12 col-sm-4 text-sm-center text-md-left">
                        <div class="footer-quicklink">
                            <h5>Infomation</h5><a href="about_us.html">About us</a><a href="checkout.html">Check out</a><a href="contact.html">Contact</a><a href="about_us.html">Service</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 text-sm-center text-md-left">
                        <div class="footer-quicklink">
                            <h5>My Account</h5><a href="login.html">My Account</a><a href="contact.html">Contact</a><a href="shop_cart.html">Shopping cart</a><a href="shop_grid+list_3col.html">Shop</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 text-sm-center text-md-left">
                        <div class="footer-quicklink">
                            <h5>Quick Shop</h5><a href="about_us.html">About us</a><a href="checkout.html">Check out</a><a href="contact.html">Contact</a><a href="about_us.html">Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-credit">
        <div class="container">
            <div class="footer-creadit_block d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-baseline align-items-md-center">
                <p class="author">Copyright © 2020 Novir - All Rights Reserved.</p><img class="payment-method" src="~/images/payment.png" alt="">
            </div>
        </div>
    </div>
</footer>

