@model Restaurant.WebApplication.ViewModels.IndexViewModel
<div class="slider slider_v2">
    <div class="full-fluid">
        <div class="slider_wrapper">

            @foreach (var slider in Model.Sliders)
            {
                <div class="slider-block" style="background-image: url('@slider.Background1Path')">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <div class="slider-text d-flex flex-column align-items-center">
                                        <div class="slider_img" data-animation="fadeInUp" data-delay=".4s"><img src="@slider.SliderImagePath" alt=""></div>
                                        @*<a class="normal-btn coffee" href="@slider.ShopNowURL" data-animation="fadeInUp" data-delay=".4s">Купить</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="benefit-block">
    <div class="container">
        <div class="our-benefits">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="benefit-detail d-flex flex-column align-items-center">
                        <img class="benefit-img" src="~/images/homepage01/benefit-icon1.png" alt="">
                        <h5 class="benefit-title">Столовая</h5>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="benefit-detail d-flex flex-column align-items-center">
                        <img class="benefit-img" src="~/images/homepage01/benefit-icon2.png" alt="">
                        <h5 class="benefit-title">Выпечка</h5>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="benefit-detail boderless d-flex flex-column align-items-center">
                        <img class="benefit-img" src="~/images/homepage01/benefit-icon3.png" alt="">
                        <h5 class="benefit-title">Оптовая  продажа</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End slider-->
<div class="items-category">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title mx-auto">Наша Миссия</h1>
                <hr style="background-color: #88c74a; height: 1px; border: 0;" />
            </div>
            <div class="col-12">
                @Html.Raw(Model.DesignerModel.OurMission)
            </div>
        </div>
    </div>
</div>
<!-- End items-category-->
<div class="feature-products">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title mx-auto">Последние Новости</h1>
                <hr style="background-color: #88c74a; height: 1px; border: 0;" />
                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-sm-4">
                        <div class="col-sm-12 feedback-content">
                            <img src="@blog.BlogImages.FirstOrDefault().ImagePath" style="width:100%; height:auto" />
                            <h5>@blog.Name</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End items-category-->
<div class="feature-products">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="testimonials">
                    <div class="inner">
                        <h1>Отзывы</h1>
                        <div class="border"></div>

                        <div class="row">
                            @foreach (var feedback in Model.Feedbacks)
                            {
                                <div class="col">
                                    <div class="testimonial">
                                        <img src="@feedback.ImagePath" alt="">
                                        <div class="name">@feedback.Author</div>
                                        <p style="font-family:Open Sans, sans-serif;font-style:italic;font-size:14px;">
                                            @feedback.Content
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>